<section class="author-bio">
    {{#if profile_image}}
    <a href="{{url}}" class="author-bio-avatar-link">
        <img class="author-bio-avatar" src="{{img_url profile_image size="s"}}" alt="{{name}}">
    </a>
    {{/if}}
    <div class="author-bio-content">
        <h4 class="author-bio-name"><a href="{{url}}">{{name}}</a></h4>
        {{#if location}}
        <p class="author-bio-title">{{location}}</p>
        {{/if}}
        {{#if bio}}
        <p class="author-bio-text">{{bio}}</p>
        {{/if}}
        <div class="author-bio-meta">
            {{#if website}}
            <a href="{{website}}" class="author-bio-link" target="_blank" rel="noopener">Website</a>
            {{/if}}
            {{#if twitter}}
            <a href="{{twitter_url}}" class="author-bio-link" target="_blank" rel="noopener">Twitter</a>
            {{/if}}
        </div>
    </div>
</section>
